text {
    -unity-font-definition: url('project://database/Assets/UI/Font/alagard%20SDF.asset?fileID=11400000&guid=a4d5e9b6574ef454a9a01516e84e27fc&type=2#alagard SDF');
    -unity-background-image-tint-color: rgba(255, 0, 0, 255);
}
